.article-detail {
  width: 80%;
  margin: 80px auto 60px;
  display: flex;
  justify-content: space-between;
}
.markdown-body {
  flex: 1;
  padding-right: 40px;
}
.header {
  background: linear-gradient(to right,#1a1818 35%,#353030 100%);
}
@media screen and (max-width: 1200px) {
  .article-detail {
    width: 90%;
  }
  .markdown-body {
    padding-right: 30px;
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  .markdown-body {
    padding-right: 0;
    width: 70%;
  }
}